First, we make the necessary imports

In [1]:
import numpy as np
import pandas as pd
import csv

Then, we read the contents of each of the two data files in the 'data' directory, and load the data into pandas DataFrames

In [2]:
data_frame_market = None

with open('../data/market_data.csv') as f:
    csv_reader = csv.reader(f, delimiter=',')
    line_count = 0
    headers = []
    data = []
    for row in f:
        if not line_count:
            headers = [x for x in row.rstrip().split(',')]
        else:
            data.append([x for x in row.rstrip().split(',')])
        line_count += 1
    
    data_frame_market = pd.DataFrame(data=data, columns=headers)

In [3]:
data_frame_weather = None
with open('../data/weather_data.csv') as f:
    csv_reader = csv.reader(f, delimiter=',')
    line_count = 0
    headers = []
    data = []
    for row in f:
        if not line_count:
            headers = [x.replace('"', '') for x in row.rstrip().split(',')]
        else:
            data.append([row.rstrip().split(',')[0].replace('"', '')] + [int(bool(x)) for x in row.rstrip().split(',')[1:]])
        line_count += 1
    data_frame_weather = pd.DataFrame(data=data, columns=headers)

In [4]:
data_frame_market

,Date,Open,High,Low,Close,Adj Close,Volume
0,1965-01-04,84.750000,85.150002,83.769997,84.230003,84.230003,3930000
1,1965-01-05,84.230003,85.019997,84.019997,84.629997,84.629997,4110000
2,1965-01-06,84.629997,85.379997,84.449997,84.889999,84.889999,4850000
3,1965-01-07,84.889999,85.620003,84.660004,85.260002,85.260002,5080000
4,1965-01-08,85.260002,85.839996,84.910004,85.370003,85.370003,5340000
...,...,...,...,...,...,...,...
14011,2020-08-31,3509.729980,3514.770020,3493.250000,3500.310059,3500.310059,4342290000
14012,2020-09-01,3507.439941,3528.030029,3494.600098,3526.649902,3526.649902,4083110000
14013,2020-09-02,3543.760010,3588.110107,3535.229980,3580.840088,3580.840088,4285190000
14014,2020-09-03,3564.739990,3564.850098,3427.409912,3455.060059,3455.060059,4898680000
14015,2020-09-04,3453.600098,3479.149902,3349.629883,3426.959961,3426.959961,3044871716

In [5]:
data_frame_weather

,Date,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22
0,1965-01-02,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0
1,1965-01-03,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,1965-01-04,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1965-01-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1965-01-06,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20330,2020-08-31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20331,2020-09-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20332,2020-09-02,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20333,2020-09-03,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20334,2020-09-04,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

The 'market' dataset includes information about the price of the S&P 500 Index for a given day, including the Open price, High price, Low price, as well as other information. This dataset was retrieved from Yahoo Finance:
https://finance.yahoo.com/quote/%5EGSPC/history/

The 'weather' dataset includes data about the presence of certain negative weather phenomenons in New York City on a given day. These include the phenomenon displayed below. This data was retrieved from NOAA: https://www.ncdc.noaa.gov/ 
<img src="../assets/codes.png">

The idea here is that there could be some correlation between the movements of the S&P 500 and the presence of negative weather conditions in New York City. Of course, this sounds perposterous, but it is a fun thought experiment.

Next, we will merge the two data-frames.

We will do this selectively, only using the weather data for days that the market was open.

In [6]:
merged_data = data_frame_market
merged_data.set_index('Date').join(data_frame_weather.set_index('Date'))

,Open,High,Low,Close,Adj Close,Volume,WT01,WT02,WT03,WT04,...,WT11,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22
Date,,,,,,,,,,,,,,,,,,,,,
1965-01-04,84.750000,85.150002,83.769997,84.230003,84.230003,3930000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1965-01-05,84.230003,85.019997,84.019997,84.629997,84.629997,4110000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1965-01-06,84.629997,85.379997,84.449997,84.889999,84.889999,4850000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1965-01-07,84.889999,85.620003,84.660004,85.260002,85.260002,5080000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1965-01-08,85.260002,85.839996,84.910004,85.370003,85.370003,5340000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,3509.729980,3514.770020,3493.250000,3500.310059,3500.310059,4342290000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-01,3507.439941,3528.030029,3494.600098,3526.649902,3526.649902,4083110000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-02,3543.760010,3588.110107,3535.229980,3580.840088,3580.840088,4285190000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-03,3564.739990,3564.850098,3427.409912,3455.060059,3455.060059,4898680000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-09-04,3453.600098,3479.149902,3349.629883,3426.959961,3426.959961,3044871716,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

The resulting dataset juxtaposes S&P 500 price statistics alongside the presence of bad weather.